{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu - Estoque e Vendas</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <div class="container">
    <h1>Menu de Estoque e Vendas</h1>
    <strong><p>Bem-vindo!</p></strong>
    <button onclick="location.href='http://3.135.197.253:8000/admin/'">Painel Administrativo</button>
    <button onclick="location.href='http://3.135.197.253:8000/admin/products/product/'">Cadastrar Produto</button>
    <button onclick="location.href='http://3.135.197.253:8000/products/'">Produtos disponíveis</button>
    <button onclick="location.href='http://3.135.197.253:8000/orders/'">Nova Venda</button>
    <button onclick="location.href='http://3.135.197.253:8000/admin/orders/order/'">Histórico de Vendas</button>

</div>

</body>
</html>
