{% load static %} {# Esta linha é crucial para que o Django encontre seus arquivos estáticos como o CSS #}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Estoque e Vendas</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>

    <div class="menu-container">
        <h2>Menu de Estoque e Vendas</h2>
        
        <p>Bem-vindo!</p>
        
        <div class="menu-button-group">
            <a href="http://3.135.197.253:8000/admin/" class="menu-button">Painel Administrativo</a>
            <a href="http://3.135.197.253:8000/admin/products/product/" class="menu-button">Cadastrar Produto</a>
            <a href="http://3.135.197.253:8000/products/" class="menu-button">Produtos disponíveis</a>
            <a href="http://3.135.197.253:8000/orders/" class="menu-button">Nova Venda</a>
            <a href="http://3.135.197.253:8000/admin/orders/order/" class="menu-button">Histórico de Vendas</a>
        </div>
    </div>

</body>
</html>
