{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Compras</title>
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left"><a href="{% url 'home' %}">HOME</a></div>
        <div class="nav-right">
            <a href="{% url 'index' %}">PRODUTOS</a>
            <a href="{% url 'orders' %}">COMPRAS</a>
        </div>
    </nav>

  <div class="container">
        <h1>Detalhes do pedido</h1>
        <div class="box">
            <p><strong>ID: {{ order.id }}</strong></p>
            <p><strong>Nome: {{ order }}</strong></p>
            <p><strong>Quantidade: {{order.quantity}}</strong></p>
            <p><strong>Data: {{order.created_at}}</strong></p>
            <p><strong>Preço: {{order.total_price}}</strong></p>
        </div>
    </div>
</body>
</html>