{% load static %}

<link rel="stylesheet" href="{% static 'orders/style.css' %}">

<div class="navbar">
  <nav>
    <a href="/" class="home">HOME</a>
    <a href="/products">PRODUTOS</a>
    <a href="/orders">COMPRAS</a>
  </nav>
</div>

<h1>Compras</h1>

<div class="container">
  {% if order_list %}
    <ul>
      {% for order in order_list %}
        <li>
          <button><strong><a href="/orders/{{ order.id }}/">{{ order.product.name }}</a></strong></button>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Não há compras cadastradas.</p>
  {% endif %}
</div>