{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block title %}Administração do Site{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Painel de Administração</a></h1>
{% endblock %}

{% block nav-global %}
    <div id="custom-nav">
        <a href="http://3.135.197.253/:8000/">Início</a> |
        <a href="http://3.135.197.253/:8000/products/">Lista de Produtos</a> |
        <a href="http://3.135.197.253/:8000/orders/">Vendas</a>
    </div>
{% endblock %}
