{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Menu de Administração{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Menu de Administração</a></h1>
{% endblock %}

{% block usertools %}
  <div id="user-tools">
    <a href="http://127.0.0.1:8000/">Menu inicial</a> /
    <a href="http://127.0.0.1:8000/products/">Lista de produtos</a> /
    <a href="http://127.0.0.1:8000/orders/">Vendas</a> /
    <a href="{% url 'admin:password_change' %}">{% translate 'Alterar senha' %}</a> /
    <a href="/admin/logout/">Encerrar sessão</a>
  </div>
{% endblock %}