{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Compras</title>
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left"><a href="{% url 'home' %}">HOME</a></div>
        <div class="nav-right">
            <a href="{% url 'index' %}">PRODUTOS</a>
            <a href="{% url 'orders' %}">COMPRAS</a>
        </div>
    </nav>

    <div class="container">
        <h1>Produtos disponiveis</h1>
        <div class="box">
            {% if orders %}
                <ul>
                    {% for order in orders %}
                        <li>{{ order.nome }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><strong>Id: {{product.id}}</strong></p>
                <p><strong>Nome: {{product.name}}</strong></p>
                <p><strong>quantidade: {{product.quantity}}</strong></p>
                <p><strong>Data: {{ product.created_at}}</strong></p>
            {% endif %}
        </div>
    </div>
</body>
</html>
