{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products/">Produtos</a></li>
                <li><a href="/orders/">Compras</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Lista de Produtos</h1>
        <div class="product-list">
            {% for product in product_list %}
                <div class="product-card">
                    <h2>{{ product.name }}</h2>
                    <p>Id: {{product.id}} </p>
                    <p>Preço: R$ {{ product.price }} </p>
                    <p>Quantidade: {{ product.quantity }} </p>
                    <p>Data: {{ product.created_at}} </p>
                </div>
            {% empty %}
                <p>Nenhum produto cadastrado.</p>
            {% endfor %}
        </div>
    </main>
</body>
</html>